 ../../.vs/
        ../../SmartPet.slnx
        ../App_Start/
        ../Content/
        ../Controllers/
        ../Global.asax
        ../Global.asax.cs
        ../Properties/
        ../Scripts/
        ../SmartPet.csproj
        ../SmartPet.csproj.user
        ../Views/
        ../Web.Debug.config
        ../Web.Release.config
        ../Web.config
        ../bin/
        ../favicon.ico
        ../obj/
        ../packages.config
        ../../packages/
