@{
	ViewData["Title"] = "Landing";
}

<<<<<<< HEAD
<!-- Link your stylesheet -->
<link rel="stylesheet" href=" \css\Landing.css" />
=======
<link rel="stylesheet" href="~/css/Landing.css" />
>>>>>>> bc5c7db (updates to login and registration)

<div class="body-container">
	<div class="content fade-in">

		<img src="~/images/petnote-logo-new.png"
			 alt="Petnote Logo"
			 class="logo" />

		<h1 class="title">Welcome to Petnote!</h1>
		<p class="subtitle">We're so glad you're here.</p>

		<div class="button-group">
			<a @Html.ActionLink("Login", "Login", "User", null, new { @class = "login-btn" }) 
		
			</a>

			<a @Html.ActionLink("Register", "Registration", "User", null, new { @class = "register-btn" })
				
				</a>
</div>
	</div>

	<img src="~/images/running-dog.gif"
		 alt="Running Dog"
		 class="running-dog" />
</div>